<div class="wrapper">

  <!-- Present the following content in a card. -->
<div class="card" style="width: 18rem;">
  <img src="/img/3.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>
      <ul>
    <li>Mercury</li>
    <li>Venus</li>
    <li>Earth</li>
    <li>Mars</li>
    <li>Jupiter</li>
    <li>Saturn</li>
    <li>Uranus</li>
    <li>Neptune</li>
    <li>Pluto</li>
  </ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
