<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <button type="button" class="btn btn-primary">Primary</button>
</p>

<p>
  <button type="button" class="btn btn-secondary">Secondary</button>

</p>

<p>
 <button type="button" class="btn btn-success">Success</button>

</p>

<p>
  <button type="button" class="btn btn-danger">Danger</button>

</p>

<p>
  <button type="button" class="btn btn-warning">Warning</button>
</p>

<p>
  <button type="button" class="btn btn-info">Info</button>

</p>


<p>Less intrusive variants:</p>

<p>
  
  <button type="button" class="btn btn-outline-primary">Primary (unobtrusive)</button>

</p>

<p>
  
  <button type="button" class="btn btn-outline-secondary">Secondary (unobtrusive)</button>

</p>

<p>
  
  <button type="button" class="btn btn-outline-success">Success (unobtrusive)</button>

</p>

<p>
  
  <button type="button" class="btn btn-outline-danger">Danger (unobtrusive)</button>

</p>

<p>
  
  <button type="button" class="btn btn-outline-warning">Warning (unobtrusive)</button>

</p>

<p>
  
  <button type="button" class="btn btn-outline-info">Info (unobtrusive)</button>

</p>
